<h1>Editing forum_group</h1>

<% form_for(@forum_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @forum_group %> |
<%= link_to 'Back', forum_groups_path %>