<table id="forum-groups">
  <colgroup>
    <col id="title" />
    <col id="weight" />
    <col id="edit" />
    <col id="delete" />
  </colgroup>
  <thead>
    <tr>
      <th>Title</th>
      <th>Weight</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
<% @forum_groups.each do |forum_group| %>
  <tr>
    <td><%=h forum_group.title %></td>
    <td><%=h forum_group.weight %></td>
    <td><%= link_to 'Edit', edit_forum_group_path(forum_group) %></td>
    <td><%= link_to 'Destroy', forum_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New forum_group', new_forum_group_path %>