<h2>Listing Static Pages</h2>

<table cellspacing="0" id="staticPageListTable">
  <colgroup>
    <col id="pageTitleCol" />
	<col id="pageSlugCol" />
	<col id="pageEditLinkCol" />
	<col id="pageDeleteLinkCol" />
  </colgroup>
  
  <thead>
    <tr>
	  <th scope="col">Title</th>
	  <th scope="col">Slug</th>
	  <th scope="col">View</th>
	  <th scope="col">Edit</th>
	  <th scope="col">Delete</th>
	</tr>
  </thead>
  
  <tbody>
    <% @static_pages.each do |static_page| %>
      <tr class="<%= cycle("even", "odd") -%>">
	    <td><%=h static_page.title %></td>
		<td><%=h static_page.slug %></td>
        <td><%= link_to 'View Page', static_page %></td>
        <td><%= link_to 'Edit', edit_static_page_path(static_page) %></td>
        <td><%= link_to 'Delete', static_page, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New static_page', new_static_page_path %>