#breadcrumb
  = link_to @forum.forum_group.title, forums_path()
  >> #{h @forum.title}
%p= h @forum.description
%table#topics
  %colgroup
    %col#topic/
    %col#author/
    %col#replies/
    %col#views/
    %col#last-post/
  %thead
    %tr
      %th.left-align Topic
      %th Author
      %th Replies
      %th Views
      %th.left-align Last Post
  %tbody
    - @topics.each do |topic|
      %tr{:class => cycle('', 'odd')}
        %td.left-align= link_to topic.title, forum_topic_path(@forum, topic)
        %td= link_to topic.user.username, user_path(topic.user)
        %td= h topic.posts.count
        %td= h topic.view
        %td.left-align
          = h topic.last_post_at.try(:to_formatted_s(:forum))
          by
          \#{link_to topic.last_poster.username, user_path(topic.last_poster)}
%p.pagination= will_paginate @topics, :container => false
= button_to 'Post New Topic', new_forum_topic_path(@forum), :method => :get
