<div id="breadcrumb">
  <%= link_to @forum.forum_group.title, forums_path() %> >> <%=h @forum.title %>
</div>

<p><%=h @forum.description %></p>

<table id="topics">
  <colgroup>
    <col id="topic" />
    <col id="author" />
    <col id="replies" />
    <col id="views" />
    <col id="last-post" />
  </colgroup>
  <thead>
    <tr>
      <th class="left-align">Topic</th>
      <th>Author</th>
      <th>Replies</th>
      <th>Views</th>
      <th class="left-align">Last Post</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
    <tr class="<%= cycle('', 'odd') %>">
      <td class="left-align"><%= link_to topic.title, forum_topic_path(@forum, topic) %></td>
      <td><%= link_to topic.user.username, user_path(topic.user) %></td>
      <td><%=h topic.posts.count %></td>
      <td><%=h topic.view %></td>
      <td class="left-align">
        <% unless topic.posts.empty? %>
        <%=h topic.last_post_created_at.to_formatted_s(:forum) %> by
        <%= link_to topic.posts.last.user.username, user_path(topic.posts.last.user) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<p class="pagination"><%= will_paginate @topics, :container => false -%></p>

<%= button_to 'Post New Topic', new_forum_topic_path(@forum), :method => :get %>