<%= form_tag mass_modify_notifications_path, :method => :put do %>
<table id="notifications">
  <colgroup>
    <col id="selected" />
    <col id="description" />
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
    </tr>
  </thead>
  <% @notifications.each do |notification| %>
    <tr>
      <td class="left-align">
        <%= check_box_tag "notification_ids[]", notification.id %>
      </td>
      <td>
        <%= link_to h(notification.initiator.username), notification.initiator %> mentioned you in a <%=h link_to_notifiable(notification) %> <%= time_ago_in_words(notification.created_at) %> ago.
      </td>
    </tr>
  <% end -%>
</table>
<% end %>