<%= error_messages_for :user -%>

<dl>
<dt><%= f.label :username -%></dt>
<dd><%= f.text_field :username -%></dd>

<dt><%= f.label :name -%></dt>
<dd><%= f.text_field :name -%></dd>

<dt><%= f.label :location -%></dt>
<dd><%= f.text_field :location -%></dd>

<dt><%= f.label :country -%></dt>
<dd><%= f.text_field :country -%></dd>

<dt><%= f.label :email -%></dt>
<dd><%= f.text_field :email -%></dd>

<dt><%= f.label :aim -%></dt>
<dd><%= f.text_field :aim -%></dd>

<dt><%= f.label :msn -%></dt>
<dd><%= f.text_field :msn -%></dd>

<dt><%= f.label :icq -%></dt>
<dd><%= f.text_field :icq -%></dd>

<dt><%= f.label :yahoo -%></dt>
<dd><%= f.text_field :yahoo -%></dd>

<dt><%= f.label :website -%></dt>
<dd><%= f.text_field :website -%></dd>

<dt><%= f.label :current_projects -%></dt>
<dd><%= f.text_area :current_projects -%></dd>

<dt><%= f.label :photo -%></dt>
<dd><%= f.file_field :photo -%></dd>

<dt><%= f.label :banner, 'Banner <span class="reminder">(should be 736x58)</span>' -%></dt>
<dd><%= f.file_field :banner -%></dd>

<dt><%= f.label :time_zone %></dt>
<dd><%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>

<dt><%= f.label :password -%></dt>
<dd><%= f.password_field :password -%></dd>

<dt><%= f.label :password_confirmation, "Confirm password" -%></dt>
<dd><%= f.password_field :password_confirmation -%></dd>
</dl>