.review
  %p.preview= link_to image_tag(review.submission.preview.url(:thumbnail)), submission_path(review.submission)
  %p.meta
    = link_to h(review.submission.title), submission_path(review.submission)
    by #{review.submission.users.collect { |u| link_to h(u.username), user_path(u) }.to_sentence}
  %p.comment
    %span= h review.user.username
    - if review.rating
      [#{h review.rating}]
    - if review.comment
      wrote: #{truncate(h(review.comment))}
