<h2><%=h @user.username %></h2>

<div class="autoclear">
<p class="photo shadow"><%= link_to image_tag(@user.photo.url(:avatar)), @user.photo.url -%></p>
<p class="banner shadow"><%= link_to image_tag(@user.banner.url(:large)), @user.banner.url -%></p>
</div>

<h3>User Info<% if @user == current_user -%> (<%= link_to "Edit", edit_user_path(@user) -%>)<% end -%></h3>
<dl class="info autoclear">
  <dt>name:</dt>
  <dd><%=h @user.name -%></dd>
  <% if @user.location -%>
  <dt>location:</dt>
  <dd><%=h @user.location -%></dd>
  <% end -%>
  <% if @user.displayed_email? -%>
  <dt>email:</dt>
  <dd><%= mail_to @user.displayed_email, nil, :encode => "javascript" -%></dd>
  <% end -%>
  <% if @user.website? -%>
  <dt>url:</dt>
  <dd><%= link_to h(@user.website), @user.website -%></dd>
  <% end -%>
</dl>

<h3>User Stats</h3>
<dl class="stats autoclear">
  <dt>average admin rating:</dt>
  <dd><%=h number_with_precision(@user.admin_rating, :precision => 2) -%></dd>
  <dt>average user rating:</dt>
  <dd><%=h number_with_precision(@user.user_rating, :precision => 2) -%></dd>
</dl>

<h3>Recent Submissions</h3>
<div class="autoclear">
<%= render :partial => "submissions/submission", :collection => @submissions -%>
<p class="pagination"><%= will_paginate @submissions, :param_name => 'submission_page', :container => false -%></p>
</div>

<h3>Recent Reviews</h3>
<div class="autoclear">
<%= render :partial => "users/review", :collection => @reviews -%>
<p class="pagination"><%= will_paginate @reviews, :param_name => 'review_page', :container => false -%></p>
</div>

<% if @user == current_user -%>
<h3>Trashed Submissions (only you can see this)</h3>
<div class="autoclear">
<%= render :partial => "submissions/submission", :collection => @trash -%>
</div>
<% end -%>

<h3>User Comments</h3>
<%= render :partial => "comments/comment", :collection => @comments -%>

<% if logged_in? -%>
<% form_for @comment, :url => commentable_url(@user) do |f| -%>
<%= render :partial => "comments/form", :locals => { :f => f } -%>
<p><%= submit_tag "Publish your comment" %></p>
<% end -%>
<% else -%>
<p><%= link_to "Log in", login_path -%> or <%= link_to "register", register_path -%> to post comments!</p>
<% end -%>
