<% form_tag browse_path do -%>
<p>
  Browse <%= select_tag :things, options_for_select(@selectables, unmap_items(params[:things])) -%>
  Sort by <%= select_tag :order, options_for_select(@orders, unmap_order(params[:order])) -%>
	<%= submit_tag "Filter" -%>
</p>
<% end -%>

<div class="autoclear">
<%= render :partial => @fragment, :collection => @renderables -%>
</div>

<p class="pagination"><%= will_paginate @renderables, :container => false -%></p>
