<% form_tag browse_path do -%>
<p>
  Browse <%= select_tag :items, options_for_select(@objects, unmap_items(params[:items])) -%>
  Sort by <%= select_tag :order, options_for_select(@orders, unmap_order(params[:order])) -%>
	<%= submit_tag "Filter" -%>
</p>
<% end -%>

<div class="autoclear">
<%= render :partial => @klass, :collection => @items -%>
</div>

<p class="pagination"><%= will_paginate @items, :container => false -%></p>
