<div class="submission">
<h2><%=h @submission.title -%> by <%= authors(@submission) -%> in <%= link_to h(@submission.category.title), url_for(:controller => "pages", :action => "browse", :things => @submission.category_id) -%></h2>

<p class="shadow"><%= link_to image_tag(@submission.preview.url(:large)), @submission.preview.url -%></p>

<ul class="toolbar">
  <li><%= link_to "View Original Image", @submission.preview.url, :class => "tile zoom" -%></li>
  <li><%= link_to "Download", download_submission_path(@submission), :class => "tile download" -%></li>
  <% if @submission.authored_by?(current_user) -%>
  <li><%= link_to "Edit", edit_submission_path(@submission), :class => "tile settings" -%></li>
    <% if @submission.trashed -%>
  <li><%= link_to "Untrash", untrash_submission_path(@submission), :class => "tile app_add" -%></li>
    <% else -%>
  <li><%= link_to "Trash", trash_submission_path(@submission), :class => "tile app_delete" -%></li>
    <% end -%>
  <% end -%>
</ul>

<h2>Artist Notes</h2>

<div class="autoclear">
  <div class="notes textile">
  <%= @submission.description_html -%>
  </div>
  <div class="meta">
    <ul>
      <li>Submitted: <%=h shortdate(@submission.created_at) -%></li>
      <li>Reviews: <%=h @submission.reviews.count -%></li>
      <li>Views: <%=h @submission.views -%></li>
      <li>Downloads: <%=h @submission.downloads -%></li>
      <li>Admin Rating: <%=h number_with_precision(@submission.admin_rating, :precision => 2) -%></li>
      <li>User Rating: <%=h number_with_precision(@submission.user_rating, :precision => 2) -%></li>
      <% if @submission.featured_at -%><li>Featured: <%=h shortdate(@submission.featured_at) -%></li><% end -%>
    </ul>
  </div>
</div>
</div>

<%= render :partial => "reviews/review", :collection => @submission.reviews -%>

<% if logged_in? %>
    <% if @review.new_record? -%>
<% form_for [@submission, @review] do |f| -%>
<%= render :partial => "reviews/form", :locals => { :f => f } -%>
<p><%= submit_tag "Submit Review" -%></p>
<% end -%>
    <% else -%>
<% form_for [@submission, @review], :html => { :method => :put } do |f| -%>
<%= render :partial => "reviews/form", :locals => { :f => f } -%>
<p><%= submit_tag "Submit Review" -%></p>
<% end -%>
  <% end -%>
<% else -%>
<p><%= link_to "Log in", login_path -%> or <%= link_to "register", register_path -%> to post comments and rate submissions!</p>
<% end -%>

<% if has_authority? -%>
<ul>
<% if @submission.moderated -%>
<li><%= link_to 'Unmoderate this submission', unmoderate_submission_path(@submission) -%></li>
<% else -%>
<li><%= link_to 'Feature this submission', feature_submission_path(@submission) -%></li>
<li><%= link_to 'Moderate this submission', moderate_submission_path(@submission) -%></li>
<% end -%>
</ul>
<% end -%>
