<p>
  <b>Title:</b>
  <%=h @thread.title %>
</p>

<p>
  <b>Last poster:</b>
  <%=h @thread.last_poster_id %>
</p>

<p>
  <b>Last post at:</b>
  <%=h @thread.last_post_at %>
</p>


<%= link_to 'Edit', edit_thread_path(@thread) %> |
<%= link_to 'Back', threads_path %>