<%= error_messages_for :feater -%>

<dl>
<dt><%= f.label :title %></dt>
<dd><%= f.text_field :title %></dd>

<dt><%= f.label :comment %></dt>
<dd><%= f.text_area :comment %></dd>

<dt><%= f.label :preview, 'Preview <span class="reminder">(should be 807x217)</span>' %></dt>
<dd><%= f.file_field :preview %></dd>
</dl>
