!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      - if page_title
        = "#{page_title} at "
      Pixelfuckers
    = stylesheet_link_tag "screen"
    = javascript_include_tag("jquery.min", "rails", "jquery.hotkeys.js", "application")
    = yield(:head)
    %link{:href => submissions_url(:atom), :rel => "alternate", :type => "application/atom+xml"}/
  %body{:class => "#{controller.controller_name} #{controller.action_name}"}
    #superwrap
      - if @headline
        %p#headline= link_to "#{h(@headline.title)} »", announcement_path(@headline)
      #wrap
        #subwrap
          #head
            %h1= link_to "Pixelfuckers", root_path
            %ul.nav.autoclear
              %li= link_to_unless_current "Browse", browse_path
              %li= link_to "Forums", forums_path
              %li= link_to "Chat", "http://webchat.freenode.net/?channels=pixelfuckers"
              %li= link_to_unless_current "News", announcements_path
              - if moderator?
                %li.administrator
                  Admin
                  %ul
                    %li= link_to "new announcement", new_announcement_path
                    %li= link_to "categories", categories_path
                    %li= link_to "pending featured submissions (#{pending_featured_submissions.size})", new_featured_path
                    %li= link_to "moderated submissions", moderated_submissions_path
                    - if administrator?
                      %li= link_to "users", users_path
                      %li= link_to "pages", static_pages_path
                      %li= link_to 'New Forum Group', new_forum_group_path
                      %li= link_to 'New Forum', new_forum_path
            %ul.toolbar.autoclear
              %li= link_to "New Submission", new_submission_path, :class => "icon upload", :title => "New Submission"
              - if logged_in?
                %li= link_to "Edit Profile", edit_user_path(current_user), :class => "icon settings", :title => "Edit Profile"
              %li= link_to "Help", "/static_pages/help", :class => "icon help", :title => "Help"
            %ul.actions
              - if logged_in?
                %li
                  = link_to h(current_user.username), user_path(current_user)
                  \:
                %li
                  = link_to "#{current_user.notifications.count} Notifications", notifications_path
                  |
                %li= link_to "log out", logout_path
              - else
                %li= link_to "log in", login_path
                %li
                  or #{link_to "register", register_path}
            %hr.invisible/
          #body
            - if flash[:notice]
              %p.notice= flash[:notice]
            - if flash[:warning]
              %p.warning= flash[:warning]
            = yield
            %hr.invisible/
          #foot
            %ul.toolbar.autoclear
              %li= link_to "New Submission", new_submission_path, :class => "icon upload", :title => "New Submission"
              - if logged_in?
                %li= link_to "Edit Profile", edit_user_path(current_user), :class => "icon settings", :title => "Edit Profile"
              %li= link_to "Help", "/static_pages/help", :class => "icon help", :title => "Help"
            %ul.inline
              %li= link_to "About Us", "/static_pages/about_us"
              %li= link_to "Contact", "/static_pages/contact"
              %li= link_to "Privacy", "/static_pages/privacy"
              %li= link_to "Terms", "/static_pages/terms"
            %p © Pixelfuckers.org – All rights reserved.
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var pageTracker = _gat._getTracker("UA-9112137-1");
        pageTracker._trackPageview();
      } catch(err) { }